// Specific CSS for your home-page
h1 {
  text-align: center;
  font-family: 'Arvo', ;
  color:black;
  font-weight: 400;
  font-size: 60px;
}

h4 {
  font-family: 'Arvo', ;
  text-align: center;
  color: white;
}

.carousel-inner {
  // height: 500px;
  // width: 100%;
  object-fit: contain;
  background-position: 0 150%;
  .carousel-image {
    background-size: cover;
    height: calc(100vh - 100px);
    object-fit: cover;
	background-position: center;
	background-attachment: fixed;
  }
}

.index-title {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  }

  .head {
    color:white;
    padding-bottom: 10px;
  }

  /*--------------------------*/
/* CUSTOMER TESTIMONIALS */
/*--------------------------*/
.row {
	max-width: 1140px;
  margin: 0 auto;
  h3 {
    padding-left: 200px;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 3rem;
    text-decoration: overline;
  }
}

.section-testimonials {
background-color: rgb(244,244,244);
	color: black;
  text-align: center;
  padding-bottom: 250px;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin: 40px;
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
}

blockquote:before {
	content: '\201C';
	font-size: 500%;
	display: block;
	position: absolute; /* when element absolute, parent has to have relative position (blockquote)*/
	top: -5px;
	left: -5px;
}

cite img {
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  width: 100px;
  object-fit: cover;
}
