// Specific CSS for your home-page
h1 {
  text-align: center;
  font-family: 'Arvo', ;
  color:black;
  font-weight: 400;
  font-size: 60px;
}

.carousel-inner {
  // height: 500px;
  // width: 100%;
  object-fit: contain;
  background-position: 0 150%;
  .carousel-image {
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
    object-fit: cover;
  }
}


.index-title {
   position: absolute;
   z-index: 2;
   display: flex;
   justify-content: center;
   width: 100%;
  }
  .head {
    color:white;


  }
