li{
  list-style: none;
}


.image-container {
  margin-top: 100px;



}

.info-container {
  margin-top: 70px;

}

a {
  color: black;
  font-family: 'Arvo', ;
}

.btn {
  background: white;


}

.btn a {
  color: black;
  font-family: 'Arvo', ;
  text-decoration: none;
}

.less {
  padding-left:5px;
  padding-bottom:5px;
  font-size:42px;


}

.lessli {
  font-size: 20px;


}

