
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="index-title">
  <h1 class="head">Grandmas Garage.</h1>
</div>
  <ol class="carousel-indicators">

    <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'Post Car', new_car_path %></button>
    <button type="button" class="btn btn-secondary btn-lg"><%= link_to 'See Cars', cars_path %></button>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image d-block w-100" style="background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80')"></div>
      <!-- <img class="carousel-image d-block w-100" src="https://images.unsplash.com/photo-1527786356703-4b100091cd2c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80" alt="First slide"> -->
    </div>
    <div class="carousel-item">
      <div class="carousel-image d-block w-100" style="background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1501061987533-ae08e6a2f957?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60')"></div>
      <!-- <img class="carousel-image d-block w-100" src="https://images.unsplash.com/photo-1501061987533-ae08e6a2f957?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60" alt="Second slide"> -->
    </div>
    <div class="carousel-item">
      <div class="carousel-image d-block w-100" style="background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1503242301233-4c5549f82b2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=680')"></div>
      <!-- <img class="carousel-image d-block w-100" src="https://images.unsplash.com/photo-1503242301233-4c5549f82b2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=680" alt="Third slide"> -->
    </div>
    <div class="carousel-item">
      <div class="carousel-image d-block w-100" style="background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1508171997656-fdf7cf6c4df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60')"></div>
      <!-- <img class="carousel-image d-block w-100" src="https://images.unsplash.com/photo-1508171997656-fdf7cf6c4df9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60" alt="Third slide"> -->
    </div>
    <div class="carousel-item">
      <div class="carousel-image d-block w-100" style="background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1521657286746-db1bebb1900a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60')"></div>
      <!-- <img class="carousel-image d-block w-100" src="https://images.unsplash.com/photo-1521657286746-db1bebb1900a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60" alt="Third slide"> -->
    </div>
    <div class="carousel-item">
      <div class="carousel-image d-block w-100" style="background-image:  linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1517342463979-7f018ddc30f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60')"></div>
      <!-- <img class="carousel-image d-block w-100" src="https://images.unsplash.com/photo-1517342463979-7f018ddc30f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60" alt="Third slide"> -->
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

