
 h1{
  font-family: 'Arvo', ;
  text-align: center;
 }

.container{
  display: flex;
  justify-content: space-between;
  // flex-wrap: flex;
}

.card {
  display: flex;
  // height: 450px;
  // width: 300px;
  //margin: 10px;
  //padding: 10px;
}

.card-img {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 5px;
  object-fit: cover;
  border-radius: 4%;

}

.card-description {
  padding: 5px;
  height: 100px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: 'Arvo', ;
}

.align-right {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: 'Arvo', ;
}

.align-left {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Arvo', ;
}

.card-information {
  padding-left: 5px;
  list-style: none;
  font-size: 14px;
  font-family: 'Arvo', ;
}

