

 h1 {
  font-family: 'Playfair Display', ;
  padding: 50px;
  text-align: center;
 }

.card-container {
  display: flex;
  justify-content: space-between;
  // flex-wrap: flex;
}

.card {
  display: flex;
  margin-bottom: 10px;
  // height: 450px;
  // width: 300px;
  //margin: 10px;
  //padding: 10px;
}

.card-img {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 5px;
  object-fit: cover;
  border-radius: 4%;

}

.card-description {
  padding: 5px;
  height: 100px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: 'Arvo', ;
  color: black;
}

.align-right {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: 'Arvo', ;
}

.align-left {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'Arvo', ;
}

.card-information {
  padding-left: 5px;
  list-style: none;
  font-size: 14px;
  font-family: 'Arvo', ;
  color: black;
  white-space: nowrap;
  overflow:  hidden;
  text-overflow: ellipsis;
}

.btn {
  background: white;

}

.btn a {
  color: black;
  font-family: 'Arvo', ;
  text-decoration: none;
}
