.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;

}
