// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
//mapbox
@import 'mapbox-gl/dist/mapbox-gl';
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

p {
  margin: 0;
}

.links {
  display: flex;
  justify-content: center;


 a {
    margin: 20px;
    padding: 10px;

  }
  button {
    margin:10px;
    border-radius: 5px;

  }
}

.min-height{
  min-height: calc(100vh - 70px - 50px)
}
